.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    padding: 30px;
    background-color: #fff;
    width: fit-content;
    border-radius: 6px;
}

.header{
    display:  flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgba(9,120,121,1);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 7px;
    background-color: rgba(9,120,121,1);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    align-items: cneter;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-Password{
    padding-left: 62px;
    margin-top: 27px;
    color: hsl(0, 0%, 47%);
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.forgot-Password span{
    color: darkblue;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.Sumbit-Container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.Sumbit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color:  rgba(9,120,121,1);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.Sumbit-grey{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    /* color: #fff; */
    /* background-color:  rgba(9,120,121,1); */
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background : #EAEAEA   ;
    color: #676767;
}